.DS_Store
.idea/
data/*.wav
results/*.wav
src/.DS_Store
*__pycache__*
audio
temp
train
dev
test
checkpoints
*.wav
*.spec.pt
afrispeech_*
.ipynb_checkpoints
*.sh
notebooks/afrotts.ipynb
afritts_vctk*
*.json
nemo_experiments
embeddings/
checkpoints
*_temp.*
*-upsamp.csv
*-ups-clean.csv
hifi-gan-bwe.ipynb
mos_files*
*_ups.txt*
AfriSpeech-Models
combine_clean_data2*
check_files_exist.py