.DS_Store
.idea/
data/*.wav
results/*.wav
src/.DS_Store
*__pycache__*
audio
temp
train
dev
test
checkpoints
*.wav
afrispeech_16k
afrispeech_16k_*
.ipynb_checkpoints
*.sh
notebooks/afrotts.ipynb
afritts_vctk*
*.json
nemo_experiments
embeddings/