scipy==1.11.3
torch==2.0.0
speechbrain==0.5.13
accelerate==0.24.1
cython==3.0.8
datasets==2.16.1
jiwer==2.5.2
librosa==0.10.1
numpy==1.23.5
pandas==1.5.0
protobuf==3.0
torch==2.0
torchaudio==2.0.2
tqdm==4.64.1
whisper==1.0
omegaconf==2.3.0
openai-whisper==20231117
transformers
git+https://github.com/owos/NeMo.git#egg=nemo_toolkit[all]
peft==0.7.1
bitsandbytes==0.42.0